@import "variables";
@import "components/card";
@import "components/button";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: $text-2xl;
}
h2 {
  font-size: $text-xl;
}
h3 {
  font-size: $text-lg;
}
p {
  font-size: $text-base;
}

main {
  background: $base01;
  padding: 1rem 2.5rem;
}
